/* .p {
  font-weight: 200;
} */

.error {
  color: white;
  background-color: red;
}

.success {
  background-color: green;
  color: white;
}

.bigSuccess {
  background-color: rgb(34, 241, 34);
  color: white;
}

.done {
  background-color: rgb(26, 26, 30);
  color: rgb(107, 106, 110);
}

.container {
  color: rgb(198, 198, 199);
  /* background: url(assets/bg.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background-color: rgb(60, 60, 66);
}

#answer-field {
  color: white
}

.medal {
  color: yellow
}

.replay {
  color: orangered
}

.stats {
  color: green
}

.dropdown-trigger {
  font-weight: bold;
  color: rgb(62, 62, 63);
  width: 25rem
}
/* html { 
  background: url(assets/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */